<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Planka Dev</title>
  <meta http-equiv="refresh" content="0;url=http://localhost:3000">
</head>
<body>
  <p>Redirecting to <a href="http://localhost:3000">http://localhost:3000</a>...</p>
</body>
</html>
